@charset "UTF-8";

/* VARIÁVEIS DE COR E DE FONTE */
:root {
    --color01:#00747C;
    --color02:#00BBC9;
    --color03:#CACACA;
    --color04:#878787;
    --color05:#202022;
    --font-name: "Monsieur La Doulaise", serif;
    --font-head: "Cinzel", serif;
    --font-menu: "Noto Serif", serif;
    --font-text: "Noto Sans", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: var(--color05);
    }
    
    main{
        width: 80vw;
        padding: 20px;
        background-color: white;
    }
    
}

@media screen and (min-width: 992px){
    /* NAV */
    nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: var(--color04);
    }
    nav > a{
        display:block;
        font-size: 1.7em;
        margin: 3px 0px;
    }
    /* MENU */
    menu {
        display: flex;
        flex-flow: row nowrap;
    }

    menu > ul {
        display: flex;
        flex-flow: row nowrap;
    }

    menu > ul > li > a {
        font-size: 1.4em;
        padding: 14px;
        margin: 5px 5px;
    }

    /* DROPDOWN MENU*/

    menu > ul > li > ul {
        display: none;
        position: absolute;

    }

    menu > ul > li > ul > li > a {
        font-size: 1.4em;

    }

    /* MENU-DIREITA */
    .menu-direita > ul {
        display: flex;
        flex-flow: row nowrap;

    }
    
    .menu-direita > ul > li > a {
        padding: 10px;
        margin: 5px 5px;
        
    }

    .menu-direita > ul > li > a > i{
        font-size: 1.9em;
    }

    .menu-direita > ul > li > ul > li{
        text-align: center;
    }
    
    /* CORPO */

    body {
        background-color: var(--color05);

    }
    main {
        display: block;
        width: 70vw;
        background-color: white;
        padding: 20px;
    }
    /* RODAPÉ */
    footer {
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }
    
    .redes > ul > li {
        margin-bottom: 10px;
    }

    .ajuda a {
        margin-bottom: 10px;
    }

}